body{
background:#000;
color:white;
font-family:Arial;
margin:0;
}

.app{
max-width:1200px;
margin:auto;
padding:10px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
}

.market{
font-size:20px;
}

.prices{
font-size:18px;
color:#FFD700;
}

.main{
display:flex;
gap:10px;
margin-top:10px;
}

.chartSide{
flex:3;
}

.tradePanel{
flex:1;
background:#0b0b0b;
padding:10px;
border-radius:8px;
}

#chart{
height:350px;
}

.tf button{
margin:2px;
padding:6px;
}

input{
width:100%;
padding:10px;
background:#111;
border:none;
color:white;
margin-top:10px;
}

.buy{
background:#00aa66;
}

.sell{
background:#cc3333;
}

.info{
margin-top:15px;
font-size:13px;
}

.history{
margin-top:15px;
max-height:150px;
overflow:auto;
}

.buyRow{
color:#00ff88;
}

.sellRow{
color:#ff5555;
}

@media(max-width:900px){

.main{
flex-direction:column;
}

}
