body{
margin:0;
background:#0b0e11;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
background:#161a1f;
}

.logo{
font-weight:bold;
font-size:18px;
}

.pricePanel{
font-size:14px;
}

#trcPrice{
color:#0ecb81;
}

button{
background:#f0b90b;
border:none;
padding:10px 14px;
border-radius:6px;
cursor:pointer;
}

.main{
display:flex;
flex-wrap:wrap;
padding:20px;
gap:20px;
}

.chartBox{
flex:2;
background:#161a1f;
padding:20px;
border-radius:10px;
}

.tradeBox{
flex:1;
background:#161a1f;
padding:20px;
border-radius:10px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
background:#0b0e11;
border:1px solid #333;
color:white;
border-radius:6px;
}

#buyBtn{
background:#0ecb81;
margin-top:10px;
width:100%;
}

#sellBtn{
background:#f6465d;
margin-top:10px;
width:100%;
}

.balance{
margin-bottom:10px;
color:#f0b90b;
}

.cooldown{
margin-top:10px;
font-size:13px;
color:#aaa;
}

.historyBox{
padding:20px;
}

#history{
max-height:200px;
overflow:auto;
font-size:13px;
}

.tradeItem{
padding:6px;
border-bottom:1px solid #333;
}

@media(max-width:700px){

.main{
flex-direction:column;
}

}
